[submodule "external/hello_imgui"]
	path = external/hello_imgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "external/FunctionalPlus"]
	path = external/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus.git
